@use './variables' as *;

@mixin btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: $color-light-grayish-blue;
  color: $color-grayish-blue;
}

