@use './variables' as *;

%header {
    font-size: 1rem;
    color: $color-dark-grayish-blue;
    font-weight: $font-weight-bold;
    line-height: 1.5;
    letter-spacing: 0.0125em;

    @media screen and (min-width: 700px) {
       font-size: 1.25rem;
       line-height: 1.4;
      }
  }

  %text {
    font-size: 0.8125rem;
    color: $color-grayish-blue;
    font-weight: $font-weight-medium;
    line-height: 1.5385;
    letter-spacing: 0.009231em;
  }

  %text-share {
    font-size: 0.8125rem;
    color: $color-desaturated-dark-blue;
    font-weight: $font-weight-medium;
    line-height: 1.5385;
    letter-spacing: 0.3846em;
  }
  