// Colors
$color-dark-grayish-blue: rgb(72, 85, 106);
$color-desaturated-dark-blue: rgb(157, 174,194);
$color-grayish-blue: rgb(110, 128, 152);
$color-light-grayish-blue: rgb(236, 242, 248);
$color-light: rgb(255, 255, 255);
$color-dark: rgb(0, 0, 0);

// Typography
$font-family: 'Manrope', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


// shadows
$card-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.5);

// border-radius
$card-radius: 0.625rem

